h1{
    color: violet;
}

#tierra{
    text-align: center;

}

.p_tierra{
    border-radius: 300px;
    border: 3px solid violet;
    padding: 10px;
    margin-bottom: 55px;
}

p{
    border: 3px solid red;
    margin: 25px 40px; /* afecta arriba y abajo 40 afecta izquierda y derecha*/
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    word-spacing: 1px;
    font-size: 47px;
    text-shadow: 6px 2px 5px gray;
    text-decoration: 6px gray;
    text-decoration: none;
    box-shadow: 3px 3px 10px gray;

}